// General snippets, not worth their own category (yet)
body {
    background-image: linear-gradient(white 60%, $grey-color-light 100%);

    max-width: calc(#{$content-width} - (#{$small-spacing-size} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $small-spacing-size;
    padding-left: $small-spacing-size;
    @extend %clearfix;

    @media screen and (min-width: $palm-width) {
        max-width: calc(#{$content-width} - (#{$base-spacing-size} * 2));
        padding-right: $base-spacing-size;
        padding-left: $base-spacing-size;
    }
}

.message-box {
    background-color: $grey-color-light;
    border: 1px solid $brand-color;
    border-radius: 3px;
    margin-bottom: $base-spacing-size;
    text-align: center;
}

.svg-icon {
    display: inline-block;
    vertical-align: middle;
}

.youtube-fullwidth {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    width: calc(#{$content-width} - (#{$small-spacing-size} * 2));

    @media screen and (min-width: $palm-width) {
        width: calc(#{$content-width} - (#{$base-spacing-size} * 2));
    }
}

.youtube-halfwidth {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    width: calc(#{$content-width} - (#{$small-spacing-size} * 2));

    @media screen and (min-width: $palm-width) {
        width: calc(#{$content-width} / 2 - #{$base-spacing-size} * 2);
    }
}

.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list {
    list-style-type: disc;
    margin-inline: 0;
    margin-block: 0;

    li {
        display: inline list-item;
        margin-inline: 0.2rem;
    }

    li:first-child {
        text-transform: uppercase;
        list-style-type: none;
        margin-inline-start: 0;
    }
}

hr {
    margin-block: $small-spacing-size;
}
