{%- comment -%}
  Usage:

  Add your images in one collection in your front matter according to specification in load-images.liquid

  Include a gallery with all images from the collection into your page / post with:

  {% include gallery.liquid collection="dirname" %}

  TODO: automatically minify images https://jimmyxiao.me/guides/technical/2019/07/28/folder-based-jekyll-lightgallery
  TODO: allow basic styling
{%- endcomment -%}
{% include load-images.liquid page_path=page.path %}

<ul>
  {%- for image in page_images -%}
    {%- if image[img_collection] == include.collection -%}
      <li>
        <figure>
          <img src="{{image[img_path]}}" alt="{{image[img_alt]}}">
          <figcaption>{{ image[img_caption] }}</figcaption>
        </figure>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
