{%- comment -%}
  Usage:

  Add your images in front matter according to specification in load-images.liquid

  Include a gallery from one collection into your page / post with:

  {% include inline-gallery.html collection="dirname" %}
{%- endcomment -%}

{% include load-images.liquid page_path=page.path %}

<div id="inline-gallery-{{include.collection}}" class="inline-gallery-container">
  {% for image in page_images %}
    {% if image[img_collection] == include.collection %}
      {% responsive_image_block %}
        template: _includes/responsive-image-lg.html
        path: {{ image[img_path] | replace_first: '/', '' }}
        alt: {{ image[img_alt] | default: image[img_name] }}
        caption: "{{ image[img_caption] }}"
      {% endresponsive_image_block %}
    {% endif %}
  {% endfor %}
</div>
