{%- comment -%}
  Usage:

  Add your images in front matter according to specification in load-images.liquid

  Include a gallery from one collection into your page / post with:

  {% include inline-gallery.html collection="dirname" %}
{%- endcomment -%}

{% include load-images.liquid page_path=page.path %}

<div id="inline-gallery-{{include.collection}}" class="inline-gallery-container">
  {% for image in page_images %}
    {% if image[img_collection] == include.collection %}
      <a
        href="{{image[img_path]}}"
        data-sub-html="<div class='lightGallery-captions'>{{ image[img_caption] }}</div>"
        hidden
      >
        <img
          alt="{{ image[img_alt] | default: image[img_name] }}"
          src="{{image[img_path]}}"
        >
      </a>
    {% endif %}
  {% endfor %}
</div>
