{% comment %}
  Responsive image optimized to occupy the whole content width.
{% endcomment %}

{%- assign content_width = "1200px" -%}

{%- capture srcset -%}
{{ original.path | relative_url }} {{ original.width }}w,
{%- for i in resized -%}
    {{ i.path | relative_url }} {{ i.width }}w
    {%- unless forloop.last -%}
      ,
    {%- endunless -%}
{% endfor %}
{%- endcapture -%}
{%- assign thumbnail = resized | last -%}

<img
  data-thumbnail-width="{{ thumbnail.width }}"
  data-thumbnail-height="{{ thumbnail.height }}"
  data-thumbnail-path="{{ thumbnail.path | relative_url }}"
  srcset="{{ srcset }}"
  sizes="min(100vw, {{ content_width }})"
  src="{{ original.path | relative_url }}"
  alt="{{ alt }}"
>
