{% comment %}
  Responsive image optimized to occupy at most half of the content width.
{% endcomment %}

{%- assign content_width = "1200px" -%}
{%- assign palm_width = "800px" -%}


{%- capture srcset -%}
{{ original.path | relative_url }} {{ original.width }}w,
{%- for i in resized -%}
    {{ i.path | relative_url }} {{ i.width }}w
    {%- unless forloop.last -%}
      ,
    {%- endunless -%}
{% endfor %}
{%- endcapture -%}
{%- assign thumbnail = resized | last -%}

<img
  data-thumbnail-width="{{ thumbnail.width }}"
  data-thumbnail-height="{{ thumbnail.height }}"
  data-thumbnail-path="{{ thumbnail.path | relative_url }}"
  {% if highpriority == true %}
  fetchpriority="high"
  {% endif %}
  loading="{{ loading }}"
  srcset="{{ srcset }}"
  sizes="(min-width: {{ content_width }}) calc({{ content_width }} / 2), (min-width: {{ palm_width }}) 50vw, 100vw"
  src="{{ original.path | relative_url }}"
  alt="{{ alt }}"
>