{% comment %}
  Responsive image optimized to occupy at most half of the screen width.
{% endcomment %}

{% capture srcset %}
{% for i in resized %}
    {{ i.path | relative_url }} {{ i.width }}w,
{% endfor %}
{% endcapture %}
{%- assign thumbnail = resized | last -%}

<img
  data-thumbnail-width="{{ thumbnail.width }}"
  data-thumbnail-height="{{ thumbnail.height }}"
  data-thumbnail-path="{{ thumbnail.path | relative_url }}"
  srcset="{{ srcset | strip_newlines }} {{ original.path | relative_url }} {{ original.width }}w"
  sizes="(max-width: 2560px) 800px, 1280px"
  src="{{ original.path | relative_url }}"
  alt="{{ alt }}"
>
