{% capture srcset %}
{% for i in resized %}
    {{ i.path | relative_url }} {{ i.width }}w,
{% endfor %}
{% endcapture %}
{%- assign thumbnail = resized | last -%}

<a
    href="{{ original.path | relative_url }}"
    data-srcset="{{ srcset | strip_newlines }} {{ original.path | relative_url }} {{ original.width }}w"
    data-sizes="(max-width: 800px) 800px, 1280px"
    data-sub-html="<div class='lightGallery-captions'>{{ caption }}</div>"
    data-external-thumb-image="{{ thumbnail.path | relative_url }}"
    hidden
>
</a>