/** Reset some basic elements */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #1ea112; text-decoration: none; }
a:visited { color: #115c0a; }
a:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(1200px - (30px * 2)); max-width: calc(1200px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (min-width: 1000px) { .wrapper { max-width: -webkit-calc(1200px - (30px)); max-width: calc(1200px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.wrapper:after, body:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 10px 15px; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

/** Syntax highlighting styles */
.highlight { background: #fff; }
.highlighter-rouge .highlight { background: #eef; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

.map-box { position: sticky; top: 0; display: flex; flex-direction: column; background-color: white; }

@media screen and (max-width: 800px) and (max-height: 600px) { .map-box { display: none; } }
@media screen and (min-width: 800px) and (max-height: 400px) { .map-box { display: none; } }
#map { block-size: 30vh; inline-size: 100%; border: 2px solid var(--main-color-dark); }

#map + div { height: 100%; padding: 0; margin: 0; }

.map-box ul { display: none; text-align: center; }

@media screen and (min-width: 800px) { .map-box ul { display: initial; } }
body { background-image: linear-gradient(white 60%, #e8e8e8 100%); max-width: -webkit-calc(1200px - (7.5px * 2)); max-width: calc(1200px - (7.5px * 2)); margin-right: auto; margin-left: auto; padding-right: 7.5px; padding-left: 7.5px; }
@media screen and (min-width: 800px) { body { max-width: -webkit-calc(1200px - (15px * 2)); max-width: calc(1200px - (15px * 2)); padding-right: 15px; padding-left: 15px; } }

.message-box { background-color: #e8e8e8; border: 1px solid #1ea112; border-radius: 3px; margin-bottom: 15px; text-align: center; }

.svg-icon { display: inline-block; vertical-align: middle; }

.post-list { list-style: none; margin: 0; padding: 0; }

.inline-list { list-style-type: disc; margin-inline: 0; margin-block: 0; }
.inline-list li { display: inline list-item; margin-inline: 0.2rem; }
.inline-list li:first-child { text-transform: uppercase; list-style-type: none; margin-inline-start: 0; }

hr { margin-block: 7.5px; }

.site-header { border-bottom: 1px solid #e8e8e8; margin: 0.5rem 0; padding: 0.5rem 0; font-size: 1.3rem; font-weight: bold; }
.site-header ul { list-style: none; margin: 0; padding: 0; display: flex; }
.site-header li { display: block; }
.site-header .svg-icon { width: 1.5rem; height: 1.3rem; padding-bottom: 0.3rem; }
.site-header button { width: 1.8rem; height: 1.5rem; padding: 0; font-weight: bold; }
.site-header nav > ul { display: flex; justify-content: space-between; height: 2rem; gap: 0.5rem; }
.site-header .toplevel-urls { width: calc(100% - 1.5rem - 8rem); }
.site-header .language-selector { width: 6rem; align-items: end; text-align: end; }
@media screen and (min-width: 800px) { .site-header .toplevel-urls.dropdown { display: flex; flex-direction: row; }
  .site-header .toplevel-urls.dropdown button { display: none; }
  .site-header .toplevel-urls.dropdown ul { flex-direction: row; justify-content: center; width: 100%; }
  .site-header .toplevel-urls.dropdown ul li { width: fit-content; display: block; } }
.site-header .dropdown { z-index: 1; gap: 0.5rem; }
.site-header .dropdown ul { background-color: white; display: flex; flex-direction: column; gap: 0.5rem; }
.site-header .dropdown ul li { width: 100%; display: none; }
.site-header .dropdown:hover ul li, .site-header .dropdown:focus-within ul li, .site-header .dropdown:focus { display: block; }
.site-header a { color: #111; border-color: transparent; text-decoration: none; border-bottom: 0.3rem solid; }
.site-header li.current-toplevel a { color: #1ea112; border-color: #1ea112; }
.site-header a:hover, .site-header a:focus { color: #1ea112; border-color: #1ea112; transition: border-color 0.3s, color 1s; }

.site-footer { border-top: 1px solid #e8e8e8; margin: 0.5rem 0; padding: 0.5rem 0; display: flex; justify-content: space-between; font-size: 0.9rem; color: #828282; flex-direction: column; }
@media screen and (min-width: 800px) { .site-footer { flex-direction: row; column-gap: 2rem; } }

.site-footer ul { list-style: none; margin-left: 0; white-space: nowrap; }

.site-footer .svg-icon { width: 1rem; height: 1rem; color: #828282; }

/* styling the post-preview mobile first */
.post-preview { margin-block: 30px; }
.post-preview .preview-image, .post-preview .metadata, .post-preview .title, .post-preview .preview-text, .post-preview footer { margin-block: 7.5px; }

/* common stuff for wider screen grid layouts */
@media screen and (min-width: 800px) { .post-preview { display: grid; row-gap: 7.5px; column-gap: 15px; /* grid layout for tablets */ grid-template-areas: "metadata title" "image text" "image footer" "image empty"; grid-template-columns: min(50%, 35rem) 1fr; grid-template-rows: 2rem auto 2rem 1fr; }
  .post-preview .preview-image { grid-area: image; margin-block: 0; }
  .post-preview .metadata { grid-area: metadata; justify-self: end; align-self: end; margin-block: 0; }
  .post-preview .title { grid-area: title; margin-block: 0; }
  .post-preview .preview-text { grid-area: text; margin-block: 0; }
  .post-preview footer { grid-area: footer; } }
@media screen and (min-width: 800px) and (min-width: 1000px) { .post-preview { /* grid layout for laptops */ grid-template-areas: "image metadata" "image title" "image text" "image footer" "image empty"; grid-template-rows: 2rem 2rem auto 2rem 1fr; }
  .post-preview .metadata { justify-self: start; } }
.post .post-header { display: flex; justify-content: space-between; }
.post .post-header .metadata { display: none; }
@media screen and (min-width: 800px) { .post .post-header .metadata { display: initial; align-self: center; margin-block-end: 15px; } }
.post .post-header .author { display: none; }
.post .post-preview { display: none; }

/* Lightgallery */
.lg-inline .lg-backdrop { background-color: transparent; }

.inline-gallery-container { width: 100%; height: min(70vh, 70vw); padding-block-end: 15px; margin-block: 15px; }

.lightGallery-captions { width: fit-content; margin: auto; background-color: rgba(0, 0, 0, 0.8); padding: 7.5px; border-radius: 3px; }

.lightGallery-captions:empty { display: none; }

/* Single Images */
figure figcaption { width: fit-content; margin-inline: auto; }

figure.centered { max-width: 100%; margin-inline: auto; }

figure.float-inline-start { max-width: 100%; margin-inline: auto; }
@media screen and (min-width: 800px) { figure.float-inline-start { max-width: calc(50% - 1rem); margin-inline-end: 1rem; float: inline-start; } }

figure.float-inline-end { max-width: 100%; margin-inline: auto; }
@media screen and (min-width: 800px) { figure.float-inline-end { max-width: calc(50% - 1rem); margin-inline-start: 1rem; float: inline-end; } }

.flow-root { display: flow-root; }

.float-clear { clear: both; }

/* Image-Divider */
.image-divider { display: flex; flex-direction: column; gap: 7.5px; }
.image-divider img { width: 100%; height: auto; vertical-align: middle; }
@media screen and (min-width: 800px) { .image-divider { flex-direction: row; } }
