---
layout: default
---
<!--
  Dedicated layout for tour blogs

  - main content is a list of your posts
  - if daily GPS tracks are available, a map is shown with post-preview images matched along the track by date
  - the content of the overview page using this layout is shown at the bottom of the page

  Requirements for overview page:
  - layout: tour-blog
  - a custom variable 'post_category' with the category of posts that should be listed
  - TODO: a custom variable 'gpx_track_folder'
-->
{% comment %} TODO: load scripts correctly (like lightgallery) {% endcomment %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

<aside class="map-box">
  <div id="map"></div>
</aside>

<ul id="post-list" class="post-list">
  {%- for post in site.categories[page.post_category] -%}
    <li>
      {%- include post-preview.html post=post -%}
    </li>
  {%- endfor -%}
</ul>

<aside id="overview-content">
  {{ content }}
</aside>

{%- assign highresTrackFiles = site.static_files
  | where_exp: 'file', 'file.path contains "assets/tracks"'
  | where_exp: 'file', 'file.path contains page.post_category'
  | where_exp: 'file', 'file.path contains "highres.gpx"'
-%}
{%- assign tracks = site.emptyArray -%}
{%- for highresTrackFile in highresTrackFiles -%}
  {%- assign lowresTrackFilePath = highresTrackFile.path | replace: 'highres', 'lowres' -%}
  {%- assign lowresTrackFile = site.static_files
    | where_exp: 'file', 'file.path contains lowresTrackFilePath'
    | first
  -%}
  {%- if lowresTrackFile == null -%}
    {{ 'Track file `' | append: lowresTrackFilePath | append: '` is missing!' | raise_error }}
  {%- endif -%}

  {% comment %}
    assuming name format trackNumber_dd - mm - YYYY_vehicle_resolution.gpx
  {% endcomment %}
  {%- assign nameParts = highresTrackFile.name | replace: '.', '_' | split: '_' -%}
  {%- assign trackNumber = nameParts[0] | plus: 0 -%}
  {%- assign dateString = nameParts[1] -%}
  {%- assign vehicle = nameParts[2] -%}
  {%- assign resolution = nameParts[3] -%}
  {%- assign colorIndex = trackNumber | modulo: 2 -%}
  {%- if vehicle == 'bicycle' -%}
    {%- assign colors = 'limegreen green' | split: ' ' -%}
  {%- elsif vehicle == 'sail' -%}
    {%- assign colors = 'dodgerblue navy' | split: ' ' -%}
  {%- elsif vehicle == 'ferry' -%}
    {%- assign colors = 'gray black' | split: ' ' -%}
  {%- else -%}
    {{ 'Unknown vehicle type: ' | append: vehicle | raise_error }}
  {%- endif -%}

  {%- assign trackData = site.emptyArray -%}
  {%- assign trackData = trackData | push: trackNumber -%}
  {%- assign trackData = trackData | push: colors[colorIndex] -%}
  {%- assign trackData = trackData | push: vehicle -%}
  {%- assign trackData = trackData | push: highresTrackFile.path -%}
  {%- assign trackData = trackData | push: lowresTrackFilePath -%}

  {%- assign tracks = tracks | push: trackData -%}
{% endfor %}

<script id="track-data" type="application/json">
  [
    {% for trackData in tracks %}
      {
        "trackNumber": {{trackData[0]}},
        "color": "{{trackData[1]}}",
        "vehicle": "{{trackData[2]}}",
        "highresPath": "{{trackData[3]}}",
        "lowresPath": "{{trackData[4]}}"
      }
      {%- unless trackData == tracks.last -%}
        ,
      {%- endunless -%}
    {% endfor %}
  ]
</script>

<script
  id="init-map"
  defer
  src="/assets/js/init-map.js"
  type="text/javascript"
  {%- if jekyll.environment == 'development' -%}
    data-dev-mode='true'
  {%- else -%}
    data-dev-mode='false'
  {%- endif -%}
></script>
