---
layout: default
---
<!--
  Dedicated layout for tour blogs

  - main content is a list of your posts
  - if daily GPS tracks are available, a map is shown with post-preview images matched along the track by date
  - the content of the overview page using this layout is shown at the bottom of the page

  Requirements for overview page:
  - layout: tour-blog
  - a custom variable 'post_category' with the category of posts that should be listed
  - TODO: a custom variable 'gpx_track_folder'
-->

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>

<aside class="map-box">
  <div id="map"></div>
</aside>

<ul id="post-list" class="post-list">
  {%- for post in site.categories[page.post_category] -%}
    <li>
      {%- include post-preview.html post=post -%}
    </li>
  {%- endfor -%}
</ul>

<aside id="overview-content">
  {{ content }}
</aside>

<script>
            // initialize Leaflet
            var map = L.map('map');
            L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.jpg', {
              attribution: '&copy; <a href="https://stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>',
              minZoom: 1,
              maxZoom: 16
            }).addTo(map);

            // show the scale bar on the lower left corner
            L.control.scale({ imperial: false, metric: true }).addTo(map);

            map.scrollWheelZoom.disable();
            map.fitBounds([[51, -127], [12, 8]]);

            {% assign tracks = site.static_files
              | where_exp: 'file', 'file.path contains "assets/tracks"'
              | where_exp: 'file', 'file.path contains page.post_category'
            %}
            {% for track in tracks %}
              // assuming name format Day_0009_0_dd-mm-YYYY_Vehicle.gpx
              // TODO: ugly way of parsing - should be able to do better
              {% assign nameParts = track.name | replace: '.', '_' | split: '_' %}
              {% assign dayString = nameParts[1] %}

              new L.GPX('{{track.path}}', {
                async: true,
                marker_options: {
                  startIconUrl: '',
                  endIconUrl: '',
                  shadowUrl: ''
                }
              }).on('loaded', function (e) {
                const dayNumber = parseInt("{{dayString}}");
                setTimeout(function () {
                  e.target.addTo(map);
                }, 1000 + dayNumber * 150);
              });
            {% endfor %}
</script>
